@using FitAura.Models
@using FitAura.Models.Records
@using FitAura.Components.Modals
@using FitAura.Services
@using MudBlazor
@using static MudBlazor.CategoryTypes
@inject FitAura.Services.ProductService ProductService
@inject HttpClient Http
@inject DayState DayState
@inject MealService MealService
@inject DayService DayService
@inject IDialogService DialogService

<MudDialog>
    <DialogContent>
        <div id="search">
            <input class="meal-input" @bind="mealName" placeholder="nazwa posiłku" type="text"/>
            <div id="items-list-box">
                @for (int i = 0; i < itemNames.Count; i++)
                {
                    <div class="meal-item-row" style="display: flex; justify-content: space-between; padding: 5px; border-bottom: 1px solid #eee;">
                        <span>@itemNames[i]</span>
                        <span style="font-size: 10px; color: #999;">@(items[i].Type == "recipe" ? "Przepis" : "Produkt")</span>
                    </div>
                }
            </div>
            <button @onclick="addItem" id="add-product-item">Dodaj produkt / przepis</button>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Anuluj</MudButton>
        <MudButton Color="Color.Secondary" OnClick="Submit">
            Wybierz
        </MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    private string barcode = "";
    private List<MealItem> items = new List<MealItem>();
    private string mealName = "Posiłek";
    private List<string> itemNames = new List<string>();


    private void Cancel() => MudDialog.Cancel();


    public async Task addItem()
    {
        var dialog = await DialogService.ShowAsync<AddMealItem>("Dodaj produkt do posiłku", options: new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small });

        var result = await dialog.Result;
        if (!result.Canceled && result.Data != null)
        {

            var (product, type, amount) = ((Product Product, string Type, int Amount))result.Data;

            if (type == "recipe")
            {
                items.Add(new MealItem
                 (   
                     type,
                     null,
                     product.Id,
                     amount
                     
                 ));
            }
            else
            {
                items.Add(new MealItem
                (
                    type,
                    product.Id,
                    null,
                    amount
                ));
            }

            itemNames.Add(product.Name);
            StateHasChanged();
        }
    }

    public async Task Submit()
    {
        var macros = await MealService.CalculateTotalMacros(items);
        var meal = new AddMealRecord(mealName, macros.Kcal, macros.Protein, macros.Fats, macros.Carbs, DayState.CurrentDay.Id, items);
        DayState.SetMeal(meal);

        var edit = new Models.Records.EditDay(
            DayState.CurrentDay.Id,
            DayState.CurrentDay.Steps,
            DayState.CurrentDay.SleepLevel,
            DayState.CurrentDay.KcalBurned, 
            DayState.CurrentDay.Measurements,
            DayState.CurrentDay.Meals
        );

        await DayService.editDay(edit);

        MudDialog.Close(DialogResult.Ok(true));
    }
}