<footer>
    <div id="logo">
        <img src="images/logo.png" height="30" alt="logo" />
        <div id="name">Fit.aura</div>
    </div>
    <div id="nutrients">
        <div>0g Białka</div>
        <div>0g Tłuszczy</div>
        <div>0g Węgli</div>
    </div>
</footer>