@using MudBlazor
@inherits LayoutComponentBase

<div class="page">
    <NavMenu/>
    <main>
        <MudThemeProvider />
        <MudDialogProvider />
        @Body
    </main>
    <Footer />
</div>
