<nav class="navbar">
    <div id="logo">
        <img src="images/logo.png" height="40" alt="logo"/>
        <div id="name">Fit.aura</div>
    </div>
    <div id="menu">
        <ul>
            <li>
                <NavLink class="nav-link" href="/home">
                    <img src="images/fi-bs-home.svg" height="28" alt="home" />
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="/signin">
                    <img src="images/fi-bs-hamburger.svg" height="28" alt="recipes"/>
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="/shoppinglist">
                    <img src="images/fi-bs-menu-burger.svg" height="28" alt="menu" />
                </NavLink>
            </li>
        </ul>
    </div>
</nav>