.navbar {
    width: 100%;
    height: auto;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    display: flex;
    align-items: center;
    font-family: 'Comic Sans MS' !important;
    flex-wrap: wrap;
    flex-direction: row;
}

.navbar * {
    font-family: 'Comic Sans MS' !important;
    font-weight: bold;
}

#logo {
    display: flex;
    justify-content: center;
    align-items:center;
}

#logo * {
    margin: 5px;
}

#name {
    font-size: 30px;
    color: black;
}

#menu {
    padding-top: 10px;
}

#menu ul {
    height: 100%;
    list-style: none;
    display: flex;
    gap: 15px;
}
