@using MudBlazor;
@using FitAura.Components.Modals;
@inject IDialogService DialogService;

<div class="activity" @onclick='openDialog'>
    <img src="/images/@activityIcon" height="50" alt="@name"/>

    <div id="state">
        <div id="name">@name</div>
        <div id="content">
            @ChildContent
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string name { get; set; } = "";

    [Parameter]
    public string activityIcon { get; set; } = "trening.svg";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    string activityName { get; set; } = "";

    protected override void OnInitialized()
    {
        if (name != null)
        {
            activityName = name.ToLower();
        }
    }

    private async Task openDialog()
    {
        if ("pomiary".Equals(activityName))
        {
            await DialogService.ShowAsync<AddMeasurement>("Nowy pomiar " + DateTime.Now.ToString("dd.MM.yyyy HH:mm"), new DialogOptions { FullWidth = true, MaxWidth = MaxWidth.Small });
        }
        if ("trening".Equals(activityName))
        {
            await DialogService.ShowAsync<AddWorkout>("Trening", new DialogOptions { FullWidth = true, MaxWidth = MaxWidth.Small });
        }
        if ("sen".Equals(activityName))
        {
            await DialogService.ShowAsync<AddSleep>("Sen", new DialogOptions { FullWidth = true, MaxWidth = MaxWidth.Small });
        }
    }
}