@using FitAura.Models.Records
@using FitAura.Services
@using MudBlazor
@inject MealService MealService

<MudDialog>
    <DialogContent>
        <div id="items-list-box">
                
            @foreach(var product in ProductNames)
            {
                <div>@product.Name</div>
            }
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Zamknij</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    private void Submit() => MudDialog.Close(DialogResult.Ok(true));

    private void Cancel() => MudDialog.Cancel();

    [Parameter]
    public ICollection<MealItem> MealItems { get; set; } = new List<MealItem>();
    private ICollection<ProductName> ProductNames { get; set; } = new List<ProductName>();


    protected override async Task OnInitializedAsync()
    {
        foreach (var item in MealItems)
        {
            if (item.Type == "product")
            {
                var product = await GetProductName(item.ProductId);
                if (product != null)
                {
                    ProductNames.Add(product);
                }
            }
        }
    }

    public async Task<ProductName> GetProductName(int? id)
    {
        var product = await MealService.GetProductName(id);
        if(product != null)
        {
            return product;
        }
        return null;
    }
}