#shoppinglist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 60px;
}


#list {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: black;
    font-family: 'Comic Sans MS';
}

ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow-y: scroll;
    padding: 40px;
    width: 80%;
    height: 250px;
}

.item {
    display: flex;
    font-weight: bold;
    font-size: 22px;
    gap: 15px;
}

input {
    background-color: #C5C5C5;
    border-radius: 15px;
    border: 3px solid #C5C5C5;
    font-size: 16px;
    padding: 5px;
    width: 200px;
}

.delete {
        background-color: var(--green);
        border-radius: 10px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
}
.accept, .cancel {
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px;
}

.accept {
    background-color: var(--green, green);
}

.cancel {
    background-color: red;
}
